DEVNET_LEDGER_API_URL=https://ledger-api.validator.devnet.sandbox.fivenorth.io
DEVNET_LEDGER_WS_URL=wss://ledger-api.validator.devnet.sandbox.fivenorth.io
DEVNET_AUTH_URL=https://auth.sandbox.fivenorth.io/application/o/token/
DEVNET_CLIENT_ID=validator-devnet-m2m
DEVNET_CLIENT_SECRET=
DEVNET_AUDIENCE=validator-devnet-m2m
DEVNET_SCOPE=daml_ledger_api

# Wallet SDK / Amulet tap (Canton Coin faucet on DevNet)
DEVNET_VALIDATOR_URL=https://wallet.validator.devnet.sandbox.fivenorth.io/api/validator
DEVNET_SCAN_API_URL=https://wallet.validator.devnet.sandbox.fivenorth.io/api/validator/v0/scan-proxy
DEVNET_REGISTRY_URL=https://wallet.validator.devnet.sandbox.fivenorth.io/api/validator/v0/scan-proxy
DEVNET_TAP_AMOUNT=10000
